# Install this file as a drop-in for nf-query-public.service AND
# nf-query-admin.service when the upstream PASSWORDS feature is enabled:
#   /etc/systemd/system/nf-query-public.service.d/mail-custom-password.conf
#   /etc/systemd/system/nf-query-admin.service.d/mail-custom-password.conf
[Service]
LoadCredentialEncrypted=mail-custom-password:/etc/nf-query/credentials/mail-custom-password.cred
Environment=MAIL_CUSTOM_PASSWORD_FILE=%d/mail-custom-password
